.form {
	padding-top: 39px;
}

.left-content h2 {
	text-align: left;
	font-family: OpenSans-Bold;
	color: #222;
	font-size: 24px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.left-content p {
	text-align: justify;
	font-family: OpenSans-Light;
	color: #222;
	margin-left: 40px;
	margin-right: 36px;
}

