/*Fonts from Aeronaut*/
.skinny-font{font-family:DinLightAlternative;}
.german-font{
    font-family:TrendSlabOne;
    letter-spacing:.1em;
}
.white{color:white;}

@font-face {font-family: 'TrendSlabOne';src: url('webfonts/2B0FE8_0_0.eot');src: url('webfonts/2B0FE8_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B0FE8_0_0.woff') format('woff'),url('webfonts/2B0FE8_0_0.ttf') format('truetype');}
@font-face{font-family: 'DinLightAlternative';src:url('webfonts/din-lightalternative.ttf');} 

$aero-blue: #a8cde2;
$aero-blue-dk: #5D63AF;
$aero-blue-lt: #c5f4ff;
$aero-yellow: #ffb300;
$aero-yellow-dk: rgba(163, 115, 0, 0.94);
$border-rad: 1em;
$side-marg: 1em;
$side-pad: 1em;
$description-text: 1.25em;
$transparent-bk: rgba(255, 255, 255, 0.3);

html {
    background-image: url(../img/sky4-short.png);
    background-attachment:fixed;
}

header,body {
    margin: 0 auto;
    width: 90%;
    padding-left: 3%;
}
.float-media {
    position: fixed;
    left: .1em;
    top: 5em;
    width: 8%;
}

.float-media a img{
    padding-bottom: .5em;
    width: 80%;
    transition: 0.2s ease;
}

.float-media a img:hover{
    width: 90%;
}

.logo-and-nav{
    margin-top: 1em;
}

.logo{
    height: 6em;
}
nav ul li {
    text-transform: uppercase;
    list-style-type: none;
    margin: .5em;
}

nav ul li a {
    font-size: 1.1em;
    color: $aero-blue-lt;
    font-family: TrendSlabOne;
    text-decoration: none;
    text-shadow: 0.125em 0.125em $aero-blue-dk;
    transition: 0.1s ease;
}

nav ul li a:hover{
    color: $aero-blue-dk;
    text-shadow: 0.125em 0.125em $aero-blue-lt;
}

.mid-page{
    background-color: $transparent-bk;
}

.hero {
    padding: $side-pad;
}
.hero img{
    width:100%;
}

.side-section, .barismo .text-left{
    margin-right: .2em;
}

.hours, .location, .who{
    margin: $side-marg/2;
    padding: $side-pad/2;
    text-align: center;

    font-family: german-font;
    font-size: 1.2em;

    border: .017em sold $aero-blue-dk;

    background-color: white;
    border-radius: .3em;
    box-shadow: .2em .2em .25em #888888;
}

.who{
    font-size: $description-text;
    text-align: justify;
}

h2 {
    font-size: 125%;
    border-bottom: .2em solid black;
}



.bottom-page{
    padding-top: 1em;
    padding-bottom: .5em;
}

.blurb, .contact-us, .twitter-feed, .fb-feed{
    margin: .5em;
    padding: 1.2em;

    font-family: german-font;
    font-size: 1em;

    border: .017em sold $aero-blue-dk;

    background-color: white;
    border-radius: $border-rad/2;
    box-shadow: .2em .2em .25em #888888;

}

.gud, .barismo{
    margin-top: 1.5em;
    background-color: $transparent-bk;

    .blurb{
        font-family: german-font;
        font-size: $description-text;

    }
}

.gud .blurb{
    text-align: left;
}


.barismo .blurb{
    text-align: right;
}
.gud img, .barismo img{
    padding: $side-pad;
    width:100%;
}

.contact-text, #foxyform_embed_link_587154{
    font-size: $description-text;
    font-family: german-font;
}
footer .container{
    color: $aero-blue-dk;
    text-align: center;
}

iframe {
    width: 100% !important;
}


