@media (max-width: 480px){
    
    header,body {
        width: 100%;
    }
    
    html {
/*        background-image: url(../img/sky480.png);
        background-repeat: repeat-y;*/
        background-image: none;
        
        background-color: red;
        
    }
    
    header{

    .pre-nav{
        padding-bottom: 3em;
        
        #media-spacer {
            display:none;
        }
        
        #media-links {
        }
    }
    
    .logo-and-nav{
       
        .logo{
            
            img {
            }
        }
        nav {
       
            ul{
           }
        }
    }

}

body{

    .mid-page{
        flex-direction: column-reverse;
        
        .hero {
            img{
            }
        }

        .side-section{
            
            .hours{
            }
            
            .location{
            }
        
            .who{
            }
        }
    }

        
        .gud{
            flex-direction: column;
            
            .text-left{

                .blurb{

                }
                .blurb-spacer{

                }
            }
    
            
            .img-right{             
                img{
                }
            }
        }
        .barismo{
            flex-direction: column;
            
            .text-left{
                .blurb{
                }
                .blurb-spacer{
               }
            }
        
            
            .img-right{
                img{
                }
            }
        }
    
    .bottom-page{
        flex-direction: column;
        .contact-us{
        }

        .twitter-feed{
        }

        .fb-feed{
        }
    }
}

    
} /*End of max-width: 480px*/

@media (min-width: 480px) and (max-width: 880px){
    
    header,body {
     }
    
    html {
        background-color: yellow;
        background-image: none;
    }
    
    header{

    .pre-nav{
        
        #media-spacer {
        }
        
        #media-links {
        }
    }
    
    .logo-and-nav{
       
        .logo{
            
            img {
            }
        }
        nav {
       
            ul{
           }
        }
    }

}

body{

    .mid-page{
        flex-direction: column-reverse;
        .hero {
            img{
            }
        }
 
    }
        
        .gud{
            flex-direction: column;
            .text-left{
                flex:1;
                .blurb{

                }
                .blurb-spacer{

                }
            }
    
            
            .img-right{ 
                flex:1;
                img{
                }
            }
        }
        .barismo{
            flex-direction: column;
            .text-left{
                flex:1;
                .blurb{
                }
                .blurb-spacer{
               }
            }
        
            
            .img-right{
                flex:2;
                img{
                }
            }
        }
    
    .bottom-page{
        flex-direction: column;
        .contact-us{
        }

        .twitter-feed{
        }

        .fb-feed{
        }
    }
}

} /*End of max-width: 880px*/
