/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of CSS from Meyer */
/* CSS RESET FOR NAV LI ELEMENTS*/
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* BORDER BOX SIZING */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Fonts from Aeronaut*/
.skinny-font {
  font-family: DinLightAlternative;
}

.german-font {
  font-family: TrendSlabOne;
  letter-spacing: .1em;
}

.white {
  color: white;
}

@font-face {
  font-family: 'TrendSlabOne';
  src: url("webfonts/2B0FE8_0_0.eot");
  src: url("webfonts/2B0FE8_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2B0FE8_0_0.woff") format("woff"), url("webfonts/2B0FE8_0_0.ttf") format("truetype");
}
@font-face {
  font-family: 'DinLightAlternative';
  src: url("webfonts/din-lightalternative.ttf");
}
html {
  background-image: url(../img/sky3.png);
  background-size: 100% 100%;
  background-position: fixed;
}

header, body {
  margin: 0 auto;
  width: 90%;
}

.pre-nav {
  margin-bottom: 1em;
  height: 1.9em;
  padding-top: .5em;
}

.pre-nav a img {
  width: 90%;
  transition: 0.1s ease;
}

.pre-nav a img:hover {
  width: 95%;
}

nav ul li {
  text-transform: uppercase;
  list-style-type: none;
  margin: .5em;
}

nav ul li a {
  font-size: 1em;
  color: #c5f4ff;
  font-family: TrendSlabOne;
  text-decoration: none;
  text-shadow: 0.125em 0.125em #5d63af;
  transition: 0.1s ease;
}

nav ul li a:hover {
  color: #5d63af;
  text-shadow: 0.125em 0.125em #c5f4ff;
}

.mid-page {
  background-color: rgba(255, 255, 255, 0.3);
}

#hero {
  padding: 1em;
}

#hero img {
  width: 100%;
  height: 100%;
}

.hours, .location {
  margin: 1em;
  padding: 1em;
  font-family: german-font;
  font-size: 1em;
  border: 0.017em sold #5d63af;
  background-color: white;
  border-radius: 3em;
  box-shadow: .2em .2em .25em #888888;
}

.bottom-page {
  padding-top: 1em;
  padding-bottom: .5em;
}

.contact-us, .twitter-feed, .fb-feed {
  margin: .5em;
  padding: 1.2em;
  font-family: german-font;
  font-size: .65em;
  border: 0.017em sold #5d63af;
  background-color: white;
  border-radius: 1.5em;
  box-shadow: .2em .2em .25em #888888;
}

html, body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
}
header .pre-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .pre-nav #media-spacer {
  flex: 3;
}
header .pre-nav #media-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .pre-nav #media-links a {
  flex: 1;
}
header .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
header .container .middle {
  flex: 3;
  display: flex;
}
header .container .middle img {
  flex: 1;
}
header .container nav {
  flex: 1;
  display: flex;
}
header .container nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  flex: 1;
  display: flex;
}
body .mid-page {
  flex: 1.5;
  display: flex;
  flex-direction: row;
}
body .mid-page #hero {
  flex: 1;
  display: flex;
}
body .mid-page #side-section {
  flex: .5;
  display: flex;
}
body .mid-page #side-section #hours {
  flex: 1;
}
body .mid-page #side-section #location {
  flex: 1;
}
body .bottom-page {
  flex: 6;
  display: flex;
  flex-direction: row;
}
body .bottom-page .contact-us {
  flex: 2;
}
