$priColor: #aeaeae;
$secColor: #01017c;
$radiusPx: 3px;
$dkgrey: #575757;
$size:2;
/*used for extends. Can use % for place holder instead of a class. Place holderr doesn't have arguments*/
%font-style{
    color: $dkgrey;
    line-height: 1;
    font-weight: 300;
}

@mixin bk ($color){
        background-color: $color;
        border-radius: $radiusPx;
}


@function aPlusB($a,$b){
    @return $a + $b;
}
body{
    display:$priColor;
}

header{
    @include bk($secColor);
    @extend %font-style;    
}

li::before {
    content: "What is 1+2: " + aPlusB(1,2);
}
.headline {
    @include bk($priColor);
}

nav{
    @include bk($secColor)
}

li {
    @extend %font-style;
}
.centerArticleAndAside{
    article{
        @include bk(red);
    }
    aside{
        @include bk(purple);
    }
}

.myPromos{
    .promo{
    }
}

footer {
   
}