.container {
    width: 80%;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(168, 208, 255);  
}

nav {
    margin: 0;
    padding: 0;
}

nav ul li {
    width:30%;
    display: inline-block;
    
    text-align: center;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 5px;
    
}

nav ul li a {
    color: rgb(98, 129, 165);
    text-decoration: none;
}

header{
    background-color: rgb(168, 208, 255);  
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    float: right;
    text-align: center;
}
header img {  
    width: 20%;;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;    
}

#hero {
    clear:both;
    height: 200px;
    background-image: url(../img/code.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

main {
}
article {
    width: 80%;
    float: right;
    background-color: rgb(255, 255, 255);
    padding: 0 40px 60px;
    margin-right: 5%;
    margin-bottom: 40px;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

article:before {
    content: "";
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: -50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

article object{
    border: 1px solid black;
}

.fav-sites li {
    margin-left: 20px;
}

.white-box{
    clear:both;

    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
    float: right;
    border-radius: 5px;
    
}
.white-box p {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid rgb(168, 208, 255);
}

table tr:first-child{
    background-color: gray;
}

table .first-name{
    font-family: Georgia;
}

table .last-name{
    font-family: Serif;
    font-variant:small-caps;
}

h3 {
    font-family: verdana;
}
/*

article h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

article p {
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0;
}

article h2 {
   font-size: 20px; 
}
article h2:last-child {
    font-size: 20px;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;
}
*/

footer {
    clear:both;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 15px 0px;
}

@media (max-width:400px){
    nav ul li {
        width: 100%;
        display: block;
    }
}

@media (max-width:500px){
    nav ul li {
        font-size: 13px;
    }
}