<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Day 9 Part 2</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="js/navbar.js"></script>
</head>
<body>
<nav id="myJS2Nav" class="navbar navbar-inverse"></nav>        
Day 10: Review of Angular Parts
<ul>
	<li>Review of Basic Components
        <ul>
            <li><xmp>Basics: Two way data binding:

<!doctype html>
<html ng-app>
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>

    <div>
      <label>Say Hello:</label>
      <input type="text" ng-model="myStuff.stuff" placeholder="World">
      <h1>Hello {{myStuff.stuff}}!</h1>
    </div>

  </body>
</html>

Note if you don’t have Batarang installed go here: 
https://chrome.google.com/webstore/detail/angularjs-batarang-stable/niopocochgahfkiccpjmmpchncjoapek
Note you should use only the “Stable” version. Googling will produce other versions. 

View the page on your local browser and open inspector. View the AngularJS tab (by installing Baterang if you didn’t already)

Alternative references to our data:
<h1 ng-bind="myStuff.stuff">
<h1 ng-bind="'Hello ' + myStuff.stuff + '!'">
<h1 ng-bind-html="myStuff.stuff">

</xmp> <hr/>
<xmp>
In Angular, we use modules to encapsulate code which allows for re-usability. 


How to create the module:
angular.module(‘UnicornModule’, []);

How to start the module in your app:
 <html ng-app="UnicornModule’">



<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="UnicornModule" ng-controller="kittenController">
{{ firstStuff + " " + secondStuff }}
</div>

<script>
var app = angular.module("UnicornModule", []);
app.controller("kittenController", function($scope) {
    $scope.firstStuff = "Hello";
    $scope.secondStuff = "World";
});
</script>
</body>
</html>

</xmp> <hr/>
<xmp>
Here is a Controller: 
 $scope.people = [
   {first: 'Joan', last: 'Smith'},
    {first: 'John', last: 'Doe'}
];

Here is a simple View:
<ul>
    <li ng-repeat="person in people | orderBy:’last’">
      {{ person.first }} {{ person.first }}
    </li>
</ul>

Let’s add these to our current controller that has “stuff”.

</xmp> <hr/>
<xmp>
Finally we will introduce Routing and templates (Click on the RoutingDemoLink)

</xmp>            </li>        </ul>

        </ul>
    </li>
    <li>Functions
    </li>
</ul>

<ol><b>Coding Challenge</b><br/>
    <li>First Challenge: Create using the routingDemo create additional data to display additional scopes.</br>
  </ol>
</body>
</html>
