$pri-color: #1e8080;
$sec-color: #d981fa;
$off-white: #cbcbcb;
$radiussize: 3px;


@mixin borderAndRadius($color,$rad){
        background-color: $sec-color;
        border-radius: $rad;
}

html{
    height: 100%;
}

body {
    height: 100%;
    display:flex;
    flex-direction: column;
    
    background-color: $pri-color;
    header{
        flex:1;
        color:red;
    }
    nav {
        flex:1;
        background-color: rgba(131, 72, 149, 0.61);
        ul{
            @include borderAndRadius($sec-color,$radiussize);
            li {
                background-color: $off-white;   
            }
        }
    }/* end of nav*/        
    
    .centerArticleAndClass{
        flex:2;
        display:flex;
        border: 2px dashed black;
        background-color: red;
        article{
            @include borderAndRadius($off-white,$radiussize);
            flex:3;
        }
        
        aside {
            flex:1;
            background-color: $off-white;
            border-radius: 3px; 
        }
    }
        
        .mypromos{
            clear: both;
        }
    
    
} /*end of body*/