html,body{
    height:100%;
}

body {
    background-color: blue;
    display:flex;
    flex-direction: column;
}

header {
    background-color: red;
    flex:1;
}

.headline {
    background-color: green;
    flex:1;
}

nav{
    display:flex;
    flex:1;
}
nav ul{
    flex:1;
    display:flex;
    
    flex-direction: row;
    justify-content: space-around;
}

nav li{
    display:flex;
    flex:1;
    background-color: beige;
    border: 3px solid black;
    padding: 1%;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
}

nav li a{
    display:flex;
    flex=1;
}
nav li:nth-child(2){
    align-self:stretch;
}

.centerArticleAndClass{
    flex:1;
    display:flex;
    flex-direction:row;
}
article {
    flex:4;
    background-color: purple;
}

aside {
    flex:1;
    background-color: orange;
}

.mypromos {
    flex: 1;
    display:flex;
    flex-direction:row;
}
.promo {
    flex: 1;
    background-color: white;
    margin: 2px;
}


footer {
    flex: .2;
    border: 2px solid black;
    background-color: brown;
    border-radius: 3px;
}

@media (max-width: 480px){
    body {
        background-color: yellow;
    }
    
    article {
        flex:1;
    }
    
    .centerArticleAndClass, .mypromos {
        flex-direction:column;
    }
    
    .centerArticleAndClass{
        flex:3;
    }
    article{
        flex:3.5;
    }
}