<!DOCTYPE html>
<!-- Taken from:http://asad.io/angularjs-with-mongolab/ -->
<html style="background-color:lightgreen">

    <head>
        <meta charset="utf-8" />
        <title>AngularJS Plunker</title>
        <link rel="stylesheet" href="style.css">
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script data-semver="1.2.16" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-require="angular.js@1.2.x"></script>
        <script data-semver="1.2.16" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-resource.min.js" data-require="angular-resource.js@1.2.x"></script>
    </head>
    <body>
    <div ng-app="FoodApp" ng-controller="FoodController">
        <label>Name: <input type="text" name="foodName" ng-model="foodName"> </input></label>
    <label>Qty: <input type="number" name="foodQty" ng-model="foodQty" min="1" max="5"> </input></label>
<button ng-click="add()">Add new food</button>
<ul>
    <!--li ng-repeat="food in foods">
        <a ng-click="remove(food)">{{food._id.$oid}} {{food.name}} {{food.qty}} (click on me to delete)</a>
    </li-->
</ul>
<hr/>
<div class="bar">Search:
    <input ng-model="query">
</div>
<ul class="">
    <li ng-repeat="food in foods | filter:query | limitTo :10">{{food.Shrt_Desc}}</li>
</ul>
</div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/FoodController.js"></script>

    <!-- Services -->
   <script src="js/resources/Foods.js"></script>
    <!-- Directives -->


</body>

</html>
